# --- ALIS ---

## ALISのアプリケーションID
## すべてのサブシステムで同じ値を使う必要がある
export ALIS_APP_ID=xxxxx


# --- ERC20 Bridge ---

## VPC
export VPC_SUBNET_ID=xxxxx
export VPC_SECURITY_GROUP_ID=xxxxx

## SSMパラメータ
export PUBLIC_CHAIN_PRIVATE_KEY_SSM_NAME=xxxxx
export PRIVATE_CHAIN_PRIVATE_KEY_SSM_NAME=xxxxx


# --- AWS ---

export AWS_DEFAULT_REGION=ap-northeast-1
export AWS_ACCESS_KEY_ID=AKIAJZCGSXXXXXXXXXX
export AWS_SECRET_ACCESS_KEY=iU6/q6ls5i5pDBPxxxxxxxxxxxxxxxxxxxx
